<!--Como es el componente principal Este html saldra siempre. 
    LO QUE CAMBIARA SERA LA PARTE DEL ROUTER-OUTLET -->
<div class="navigationSection">
    <a href="/" class="navigationLink">Home/Tutorials</a>
    <a href="/other" class="navigationLink">Other</a>    
    <a href="/users" class="navigationLink">Users</a>    
</div>
<div class="content">En este div iría, por ejemplo, el menú (appComponent). El contenido cambia en función del path</div>
<div class="content">Y esto es el valor actual que está emitiendo el servicio: {{value}}</div>
<!--En el app.module le hemos indicado que las rutas las gestiona el app.routes.ts-->
<router-outlet></router-outlet>